#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.gameList {
  display: flex; 
  flex-wrap: wrap;  
  flex: 0 0 25%; 
  justify-content:space-between;
}

.gameList > div {
  width: 25%; 
  height: 150px; 
  margin-bottom: 20px;
}

.rounded {
  border-radius: 10px;
}