#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

.gameList {
  display: flex; 
  flex-wrap: wrap;  
  flex: 0 0 20%; 
  justify-content:space-between;
}

.gameList > div {
  width: 20%; 
  margin-bottom: 40px;
  border: 1px solid white;
  padding: 1em;
  border-radius: 10px;
}

.gameList > div:hover {
  background-color: var(--hover-color);
}

.rounded {
  border-radius: 10px;
}